body {
  background-color: #fbc547;
  color: #333;
  height: 100%;
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #000;

  &:focus,
  &:hover {
    color: #000;
  }

  &:visited {
    color: #000;
  }
}

.stack {
  max-width: 375px;

  .byline {
    font-style: italic;
    margin-bottom: 10px;
  }
  .portrait {
    img {
      width: 100%;
    }
  }

  .links {
    a {
      border: 0;
      text-decoration: none;
    }
    svg {
      width: 64px;
      height: 64px;
    }
  }
}

.bookshelf {
  max-width: 505px;
  text-align: left;
  margin: 8px;

  .book {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    margin-top: 20px;

    .img {
      width: 150px;
      margin-top: 20px;
      img {
        max-width: 150px;
      }
    }
    .txt {
      margin-left: 10px;
      max-width: 300px;
    }
  }
}

.policies {
  font-family: "Times New Roman" , Times, serif;
  max-width: 500px;

  p {
    text-align: left;
  }
}