body
  :font
    :family Verdana
    :size 10pt
  :background url("/images/background.png")

#wrapper
  :border 4px solid brown
  :padding 10px
  :background white
  :width 600px
  :margin auto
  
h1
  margin: 0px
  padding-bottom: 10px

ul#biglinks
  height: 30px
  margin: 0px
  padding: 0px
  li
    padding: 0px
    float: left
    width: 100px
    font-size: 1.7em
    list-style: none
    margin-left: 5px
    
a, a:hover, a:visited
  color: brown

.clear
  clear: both
  
img#me
  float: right

h2
  text-align: center

.books
  height: 130px
  margin-left: 35px
  .book
    float: left
    height: 124px
    width: 84px
    a
      float: left
      margin-top: 15px
    h3
      font-size: 10px
      text-align: center
      padding: 0px
      margin: 0px
  .book.highlight
    border: 1px solid black
    a
      margin-top: 0px

.post
  .date
    width: 100px
    float: left

.comments
  padding-bottom: 15px
  .comment
    margin-bottom: 15px
    border: 1px solid brown
    padding: 10px
    .author
      font-weight: bold