body {
  background-color: #fbc547;
  color: #333;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

a {
  color: rgba(0, 0, 0, 0.7); }
  a:focus, a:hover {
    color: rgba(0, 0, 0, 0.6); }

.stack {
  max-width: 300px; }
  .stack .byline {
    font-style: italic;
    margin-bottom: 10px; }
  .stack .portrait img {
    width: 100%; }
  .stack .links a {
    border: 0;
    text-decoration: none; }
  .stack .links svg {
    width: 64px;
    height: 64px; }
