;;;
"title": "Unquilt Privacy Policy",
"layout": "layout"
;;;

.policies
  %h1 Unquilt Privacy Policy

  %p
    Unquilt is a game developed by Hampton Lintorn-Catlin, a US citizen and sole proprietor of the game.
    It's a puzzle game available today on both the Google Play Store and Apple App Store.

  %p
    The following is the privacy and security policy for the game. This policy applies to all aspects of the game,
    including but not limited to the website, mobile apps, and other services that Hampton Lintorn-Catlin may
    provide in the future.

  %p This policy is subject to change at any time without notice.

  %p
    First, ethically and morally, I believe in privacy of the individual and will only collect what's needed
    for the functioning, monitoring, and monetization of the game using Google Ads. I will not sell, rent, or share
    any of your personal information with any third party. I will not use your personal information for any purpose other than
    the functioning, monitoring, and non-identifiable monetization of the game.

  %h2 What do we collect and who sees it?

  %p
    The types of data we collect about you include: IP address, User ID, Device ID, your chosen publicly displayed username,
    and if you give us your email for account recovery (not required!) then we'll have that on file.

  %p
    The database and score storage of the game is hosted on Google Firebase, a Google owned and operated company.
    The game and server do their best to adhere to all applicable privacy and security policies of Google Firebase.

  %p
    The data is not encrypted at rest, but is encrypted in transit. I do not have any interest in storing any additional
    information not related to the game itself, or detecting fraudsters and cheaters.

  %p
    For analytics, we use the following services: Amplitude, and Google Firebase Analytics. Both of these services are
    used to help us find issues in the app and track how we're doing at making you happy!

  %h2 Data Deletion Requests

  %p
    If you want your data deleted, I'm more happy to do that. However, because I don't store your name, email, or anything
    like that- to *find* your data, you'll need to send me the User ID that's listed in the app under the settings menu. It's
    at the bottom of the screen and is an alpha numeric sequence (numbers and letters).

  %p
    Once you have that ID, send an email to hampton@hamptonmakes.com with the subject "Unquilt Delete Request" and in the
    body of the email, include the User ID. I'll delete your data within 30 days!