!!!
%html
  %head
    %title Hampton Catlin | Ruby, Haml, Wikipedia, iPhone Development
    <link href="http://blog.hamptoncatlin.com/feed/atom.xml" rel="alternate" type="application/atom+xml" />
    = stylesheets
  %body
    #wrapper
      #content
        = yield
      #footer
        Everything copyright Hampton Catlin for every year ever. Licenses vary. Usually MIT.
        %br/ 
        Page created with 
        %a{:href => "http://staticmatic.rubyforge.org/"} Staticmatic
    