<aside class="bio">
  <a href="https://commons.wikimedia.org/wiki/File:Manhattan_May_2026_-_Hampton_Catlin_-_Mobile_Wikipedia_%26_the_Wikipedia_API.jpg" title="Photo by Npscala, CC BY 4.0, via Wikimedia Commons">
    <img class="bio-photo" src="/images/hampton.jpg" alt="Hampton Lintorn-Catlin (photo by Npscala, CC BY 4.0, via Wikimedia Commons)" />
  </a>
  <div class="bio-text">
    <strong class="bio-name">Hampton Lintorn-Catlin</strong>
    <p>Creator of <a href="https://sass-lang.com">Sass</a>, the CSS language used by millions of developers worldwide. Currently a Principal Engineer at <a href="https://squareup.com">Square</a>, where he builds useful things for small businesses. He's spent his career at the intersection of developer tools, open source, and pragmatic engineering leadership.</p>
  </div>
</aside>
