<aside class="bio">
  <img class="bio-photo" src="/images/Hampton.jpg" alt="Hampton Lintorn-Catlin" />
  <div class="bio-text">
    <strong class="bio-name">Hampton Lintorn-Catlin</strong>
    <p>Creator of <a href="https://sass-lang.com">Sass</a>, the CSS language used by millions of developers worldwide. Currently a Principal Engineer at <a href="https://squareup.com">Square</a>, where he builds useful things for small businesses. He's spent his career at the intersection of developer tools, open source, and pragmatic engineering leadership.</p>
  </div>
</aside>
