---
---

<div class="stack">
  <div class="stack-left">
    <div class="portrait">
      <img src="/images/Hampton.jpg" alt="A Picture of Hampton"/>
    </div>
    <h1>
      Hampton Lintorn-Catlin
    </h1>
    <div class="byline">Maker. Principal Engineer @ <a href="https://squareup.com">Square</a>. Inventor of <a href="https://sass-lang.com">Sass</a>, <a href="https://haml.info">Haml</a>, <a href="https://en.wikipedia.org/wiki/Wikipedia:Mobile_access">Wikipedia Mobile</a>, and more.</div>
  </div>

  <div class="stack-right">
    <% latest = blog.articles.first %>
    <% if latest %>
      <div class="latest-post">
        <h2 class="projects-title">Latest Post</h2>
        <a href="<%= latest.url %>" class="project">
          <span class="project-text">
            <span class="project-name"><%= latest.title %></span>
            <% if latest.data.description %>
              <span class="project-desc"><%= latest.data.description %></span>
            <% end %>
          </span>
        </a>
      </div>
    <% end %>

    <div class="projects">
      <h2 class="projects-title">Things I've Made</h2>
      <a href="https://sass-lang.com" class="project">
        <img class="project-icon" src="/images/projects/sass.svg" alt="Sass logo"/>
        <span class="project-text">
          <span class="project-name">Sass</span>
          <span class="project-desc">The CSS preprocessor that changed how the world writes stylesheets.</span>
        </span>
      </a>
      <a href="https://haml.info" class="project">
        <img class="project-icon" src="/images/projects/haml.png" alt="Haml logo"/>
        <span class="project-text">
          <span class="project-name">Haml</span>
          <span class="project-desc">A markup language that makes HTML beautiful, DRY, and indentation-based.</span>
        </span>
      </a>
      <a href="https://en.wikipedia.org/wiki/Wikipedia:Mobile_access" class="project">
        <img class="project-icon" src="/images/projects/wikipedia.svg" alt="Wikipedia logo"/>
        <span class="project-text">
          <span class="project-name">Wikipedia Mobile</span>
          <span class="project-desc">One of the first mobile websites and among the first apps in both the App Store and Android Market.</span>
        </span>
      </a>
    <a href="https://github.com/wordset/wordset-dictionary" class="project">
        <img class="project-icon" src="/images/projects/wordset.png" alt="Wordset logo"/>
        <span class="project-text">
          <span class="project-name">Wordset</span>
          <span class="project-desc">The world's first open-source, collaborative dictionary. 177k meanings and 63,936 manual edits by volunteers.</span>
        </span>
      </a>
    <a href="https://apps.apple.com/app/unquilt/id387175530" class="project">
        <img class="project-icon" src="/images/projects/unquilt.png" alt="Unquilt icon"/>
        <span class="project-text">
          <span class="project-name">Unquilt</span>
          <span class="project-desc">A relaxing color-flood puzzle game for iOS and Android. Over 2 million sessions played.</span>
        </span>
      </a>
      <a href="https://howfamous.is" class="project">
        <img class="project-icon" src="/images/projects/howfamous.svg" alt="HowFamous.Is logo"/>
        <span class="project-text">
          <span class="project-name">HowFamous.Is</span>
          <span class="project-desc">A FaceMash-style game for ranking celebrity fame. Who's more famous?</span>
        </span>
      </a>
      <a href="https://github.com/block/uuidv7" class="project">
        <img class="project-icon" src="/images/projects/uuidv7.svg" alt="UUIDv7 logo"/>
        <span class="project-text">
          <span class="project-name">UUIDv7</span>
          <span class="project-desc">High-performance UUID v7 implementations across Java, JS, Swift, Go, Ruby, and Rust.</span>
        </span>
      </a>
      <a href="https://github.com/veuelive/veue" class="project project-shutdown">
        <img class="project-icon" src="/images/projects/veue.svg" alt="Veue logo"/>
        <span class="project-text">
          <span class="project-name">Veue <span class="project-label">Shutdown</span></span>
          <span class="project-desc">A low-latency, real-time interactive live streaming service. Twitch for everyone.</span>
        </span>
      </a>
    </div>

    <div class="media">
      <h2 class="projects-title">Things I've Said</h2>
      <a href="https://www.youtube.com/watch?v=g--YgDwDJgs" class="project">
        <img class="project-icon" src="/images/projects/video.svg" alt="Video"/>
        <span class="project-text">
          <span class="project-name">Maintainable</span>
          <span class="project-desc">Only add complexity when necessary — reframing technical debt as investment.</span>
        </span>
        <span class="media-date">Jul 2024</span>
      </a>
      <a href="https://www.youtube.com/watch?v=apx2Q5KoXJA" class="project">
        <img class="project-icon" src="/images/projects/video.svg" alt="Video"/>
        <span class="project-text">
          <span class="project-name">Rocket to the Cloud</span>
          <span class="project-desc">Sass, Haml, Wikimedia, and advice for starting out in open source.</span>
        </span>
        <span class="media-date">Jan 2021</span>
      </a>
      <a href="https://www.therubyonrailspodcast.com/351" class="project">
        <img class="project-icon" src="/images/projects/podcast.svg" alt="Podcast"/>
        <span class="project-text">
          <span class="project-name">Ruby on Rails Podcast</span>
          <span class="project-desc">Haml sparks joy — the story behind the template language.</span>
        </span>
        <span class="media-date">Jan 2021</span>
      </a>
      <a href="https://podcasts.apple.com/us/podcast/hampton-catlin-startup-stories-with-adam-callow/id1465395200?i=1000443511570" class="project">
        <img class="project-icon" src="/images/projects/podcast.svg" alt="Podcast"/>
        <span class="project-text">
          <span class="project-name">Startup Stories</span>
          <span class="project-desc">Making product developers really care about customer happiness.</span>
        </span>
        <span class="media-date">Jul 2019</span>
      </a>
      <a href="https://www.theallusionist.org/fix-ii" class="project">
        <img class="project-icon" src="/images/projects/podcast.svg" alt="Podcast"/>
        <span class="project-text">
          <span class="project-name">The Allusionist</span>
          <span class="project-desc">On Wordset and the messy evolution of English in EU institutions.</span>
        </span>
        <span class="media-date">Sep 2015</span>
      </a>
      <a href="https://www.sitepoint.com/versioning-show-episode-18-with-hampton-catlin/" class="project">
        <img class="project-icon" src="/images/projects/podcast.svg" alt="Podcast"/>
        <span class="project-text">
          <span class="project-name">The Versioning Show</span>
          <span class="project-desc">Sass, Haml, and inventiveness — being first, being vulnerable, and keeping it weird.</span>
        </span>
        <span class="media-date">2016</span>
      </a>
      <a href="https://www.youtube.com/watch?v=WGACwfGT8jc" class="project">
        <img class="project-icon" src="/images/projects/video.svg" alt="Video"/>
        <span class="project-text">
          <span class="project-name">CDNify Podcast</span>
          <span class="project-desc">On Sass, Haml, and the move to GeneHub for whole genome sequencing.</span>
        </span>
        <span class="media-date">Sep 2014</span>
      </a>
      <a href="https://www.youtube.com/watch?v=hk74fM4qweg" class="project">
        <img class="project-icon" src="/images/projects/video.svg" alt="Video"/>
        <span class="project-text">
          <span class="project-name">The Changelog</span>
          <span class="project-desc">Speedy Sass with libsass and open-sourcing our words with Wordset.</span>
        </span>
        <span class="media-date">2014</span>
      </a>
      <a href="https://shoptalkshow.com/070-with-hampton-catlin/" class="project">
        <img class="project-icon" src="/images/projects/podcast.svg" alt="Podcast"/>
        <span class="project-text">
          <span class="project-name">ShopTalk Show</span>
          <span class="project-desc">On Sass, Haml, Wikipedia Mobile, and mobilizing the web.</span>
        </span>
        <span class="media-date">May 2013</span>
      </a>
    </div>
  </div>
</div>
